{% set user = frappe.db.get_value("User", frappe.session.user, ["full_name"])%}
{% set role_profile_name = frappe.db.get_value("User", frappe.session.user,
"role_profile_name")%} {% if role_profile_name != "المكتب الفني" %}

<div
  style="
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  "
>
  <div style="display: none">
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        display: none;
      "
    >
      <div>
        <img
          style="width: 70px; height: 70px; margin-top: 0px"
          src="/files/صندوق التحسين1b6868.jpg"
        />
      </div>
      <div>وزارة الداخلية</div>
      <div>أمانة تنمية الموارد</div>
    </div>
  </div>

  <div
    style="
      border: 2px solid black;
      height: fit-content;
      width: fit-content;
      text-align: center;
      font-weight: bold;
    "
  >
    تاريخ الطباعة
    <br />
    {{ frappe.utils.today() }}
    <br />
    الطباعة بواسطة
    <br />
    {{user}}
  </div>
</div>
{%else%}

<div
  style="
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -60px;
  "
>
  <div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        text-align: center;
      "
    >
      <div>
        <img
          style="height: 70px; margin-top: 0px"
          src="{{doc.custom_barcode}}"
        />
      </div>
    </div>
  </div>
</div>

{% endif %}

<div style="text-align: right">
  <div style="font-weight: bold; display: flex; justify-content: center">
    <p
      style="
        font-family: 'PT Bold Heading';
        font-size: 16pt;
        margin-right: 30px;
        text-align: center;
        border-bottom: 1px solid black;
        width: fit-content;
      "
    >
      مذكرة
      <br />
      {{doc.document_type}}
    </p>
  </div>
  <!--</div>-->
  <!--{% if doc.designation %}-->
  <!--<div style="text-align: center; direction: rtl;font-family: 'PT Bold Heading'; font-size: 12pt;">-->
  <!--    {{ doc.designation }}-->
  <!--</div>-->
  <!--{% endif %}-->

  <div
    style="
      direction: rtl;
      font-family: 'PT Bold Heading';
      font-size: 12pt;
      margin-right: 30px;
      margin-left: 30px;
      margin-top: 20px;
    "
  >
    {{doc.letter_desctiption}}
  </div>

  {% if doc.footer%}
  <div
    style="
      direction: rtl;
      font-family: 'PT Bold Heading';
      font-size: 12pt;
      margin-right: 30px;
      margin-left: 30px;
      margin-top: 20px;
    "
  >
    {{doc.footer}}
  </div>
  {% endif %}

  <div
    style="
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-right: 30px;
      margin-left: 30px;
    "
  >
    <div>
      {% set users = frappe.db.get_all("Workflow Action",
      {"reference_doctype":doc.doctype, "reference_name": doc.name, "status":
      "Completed", "completed_by": ["!=", "Administrator"]},["completed_by",
      "completed_by_role"], order_by="creation")%}
      <table>
        {% for user in users %} {% if user != "admin@example.com" %} {% set role
        = frappe.db.get_value("User", user.completed_by, "role_profile_name") %}
        {% set full_name = frappe.db.get_value("User", user.completed_by,
        "full_name") %}

        <tr>
          <td>
            {{user.completed_by_role}} <br />
            {{full_name}}
          </td>
          <td><div style="width: 100px"></div></td>
        </tr>
        {% endif %} {% endfor %}
      </table>
    </div>

    <div
      style="
        font-size: 16pt;
        font-family: 'PT Bold Heading';
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <p style="margin-left: 160px">لواء/</p>
      <p>({{doc.name_of_heads}})</p>
      <p>رئيس أمانة تنمية الموارد</p>
    </div>
  </div>
</div>
